<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
<body>
<h1 class="bg-secondary text-white display-4 px-3">Vue3</h1>
<div id="app" class="container">
    <template v-if="flag">
        <p>※データを表示する</p>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Mail</th>
                    <th>Tel</th>
                </tr>
            </thead>
            <tr v-for="(item, key) in items">
                <td>{{key}}</td>
                <td>{{item.mail}}</td>
                <td>{{item.tel}}</td>
            </tr>
        </table>
    </template>
    <template v-else>
        <p>※データをリスト表示する</p>
        <ul class="list-group">
            <li class="list-group-item">Taroのアドレスは、taro@yamada</li>
            <li class="list-group-item">Hanakoのアドレスは、hanako@flower</li>
            <li class="list-group-item">Sachikoのアドレスは、shchiko@happy</li>
        </ul>
    </template>
</div>
<script>
    const items = {
        Taro: {mail:'taro@yamada', tel:'000-000'},
        Hanako: {mail:'hanako@flower', tel:'111-111'},
        Sachiko: {mail:'sachiko@happy', tel:'222-222'},
        Jiro: {mail:'jiro@change', tel:'333-333'}
    }
    const appdata = {
        data() {
            return {
                message : 'This is sample page.',
                flag : true,
                items : items
            }
        },
        mounted() {
            setInterval(() => {
                this.flag = !this.flag
            }, 3000)
        }
    }
    let app = Vue.createApp(appdata)
    app.mount('#app')
</script>
</body>
</html>